@tailwind base;
@tailwind components;
@tailwind utilities;

nav ol.crumbs {
    display: flex;
    margin: 3rem;
}

.collapse-container {
    overflow: hidden;
    transition: height 0.2s ease;
}

.icon-32 {
    min-width: 32px;
    max-width: 32px;
}
